In [31]:
%matplotlib notebook

In [32]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [33]:
#Open All csv combined file to start manipulating for review
# open next CSV file for merge with cleaned file
All_CSV_Combined_csv = 'Cleaned_Data/All_CSV_Combined.csv'
# read csv
plotting_df = pd.read_csv(All_CSV_Combined_csv)
#view data
plotting_df.head()

,State,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Density,Pop,LandArea,"Total ""Two Dose Regimen"" Moderna","Total ""Two Dose Regimen"" Pfizer"
0,Alabama,6195,62730,5069,2009,135,9381,97.4270,4934190,50645,273100,227175
1,Alaska,193,4721,270,109,0,363,1.2694,724357,570641,84700,62400
2,Arizona,8498,77079,8720,4955,147,12409,66.2016,7520100,113594,387100,323700
3,Arkansas,3728,37869,3769,1662,101,5931,58.3059,3033950,52035,165800,141375
4,California,27622,315502,33784,15695,813,46518,254.2929,39613500,155779,2178600,1806675

In [30]:
plotting_df.dtypes

State                                        object
COVID-19 Deaths                              object
Total Deaths                                 object
Pneumonia Deaths                             object
Pneumonia and COVID-19 Deaths                object
Influenza Deaths                              int64
Pneumonia, Influenza, or COVID-19 Deaths     object
Density                                     float64
Pop                                           int64
LandArea                                      int64
Total "Two Dose Regmine" Moderna             object
Total "Two Dose Regmine" Pfizer              object
Total Combined Doses                         object
dtype: object

In [35]:
#combined_regmine['Moderna Pfizer Totals'] = plotting_df['Total "Two Dose Regmine" Moderna'] + plotting_df['Total "Two Dose Regmine" Pfizer']
#combined_regmine['x'] = plotting_df.iloc[:,10:11].sum()
plotting_df['Total Combined Doses'] = plotting_df[['Total "Two Dose Regimen" Moderna', 'Total "Two Dose Regimen" Pfizer']].sum(axis=1)



plotting_df.head()

,State,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Density,Pop,LandArea,"Total ""Two Dose Regimen"" Moderna","Total ""Two Dose Regimen"" Pfizer",Total Combined Doses
0,Alabama,6195,62730,5069,2009,135,9381,97.4270,4934190,50645,273100,227175,500275
1,Alaska,193,4721,270,109,0,363,1.2694,724357,570641,84700,62400,147100
2,Arizona,8498,77079,8720,4955,147,12409,66.2016,7520100,113594,387100,323700,710800
3,Arkansas,3728,37869,3769,1662,101,5931,58.3059,3033950,52035,165800,141375,307175
4,California,27622,315502,33784,15695,813,46518,254.2929,39613500,155779,2178600,1806675,3985275