In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Display the data table for preview
unemployment_data_us_state_path = "unemployment_data_us_state.csv"
Population_Density_path = "Population_Density.csv"
Provisional_COVID_19_Death_Counts_by_Sex__Age__and_State_path = "Provisional_COVID_19_Death_Counts_by_Sex__Age__and_State.csv"

# Read the mouse data and the study results
unemployment_data_us_state = pd.read_csv(unemployment_data_us_state_path)
Population_Density = pd.read_csv(Population_Density_path)
Provisional_COVID_19_Death_Counts_by_Sex__Age__and_State = pd.read_csv(Provisional_COVID_19_Death_Counts_by_Sex__Age__and_State_path)

# Combine the data into a single dataset
merge_data_df = pd.merge(unemployment_data_us_state, Population_Density, on="State")
# Display the data table for preview
merge_data_df

             State  rate  rate.1  Change  Rank    Density       Pop  LandArea
0          Alabama   5.7     4.4    -1.3     5    97.4270   4934190     50645
1           Alaska   5.9     8.1     2.2    50     1.2694    724357    570641
2          Arizona   7.9     7.8    -0.1    32    66.2016   7520100    113594
3         Arkansas   6.2     6.2     0.0    36    58.3059   3033950     52035
4       California   9.0     8.2    -0.8    10   254.2929  39613500    155779
5         Colorado   6.4     6.4     0.0    36    56.8653   5893630    103642
6      Connecticut   6.1     8.2     2.1    49   733.7505   3552820      4842
7         Delaware   5.6     5.1    -0.5    18   508.1242    990334      1949
8          Florida   6.4     6.4     0.0    36   409.2233  21944600     53625
9          Georgia   4.5     5.7     1.2    47   188.3053  10830000     57513
10          Hawaii  14.2    10.1    -4.1     1   218.9678   1406430      6423
11           Idaho   5.5     4.8    -0.7    15    22.5079   1860120     82643
12        Illinois   7.4     6.9    -0.5    18   226.3964  12569300     55519
13         Indiana   5.5     5.0    -0.5    18   189.9643   6805660     35826
14            Iowa   3.7     3.6    -0.1    32    56.7157   3167970     55857
15          Kansas   5.0     5.6     0.6    45    35.6807   2917220     81759
16        Kentucky   7.3     5.6    -1.7     4   113.4759   4480710     39486
17       Louisiana   9.4     8.3    -1.1     6   107.0966   4627000     43204
18           Maine   5.4     5.0    -0.4    21    43.9166   1354520     30843
19        Maryland   7.7     6.8    -0.9     9   624.8522   6065440      9707
20   Massachusetts   7.4     6.7    -0.7    15   886.1846   6912240      7800
21        Michigan   6.1     6.9     0.8    46   176.7352   9992430     56539
22       Minnesota   4.6     4.4    -0.2    27    71.6641   5706400     79627
23     Mississippi   7.4     6.4    -1.0     7    63.2187   2966410     46923
24        Missouri   4.6     4.4    -0.2    27    89.7419   6169040     68742
25         Montana   5.0     4.9    -0.1    32     7.4547   1085000    145546
26        Nebraska   3.0     3.1     0.1    41    25.4087   1952000     76824
27          Nevada  11.9    10.1    -1.8     3    29.0195   3185790    109781
28   New Hampshire   4.2     3.8    -0.4    21   153.2671   1372200      8953
29      New Jersey   8.0    10.2     2.2    50  1206.7609   8874520      7354
30      New Mexico   8.1     7.5    -0.6    17    17.3540   2105000    121298
31        New York   9.2     8.4    -0.8    10   409.5404  19300000     47126
32  North Carolina   6.2     6.2     0.0    36   220.1037  10701000     48618
33    North Dakota   4.7     4.5    -0.2    27    11.1596    770026     69001
34            Ohio   6.1     5.7    -0.4    21   286.6939  11714600     40861
35        Oklahoma   6.2     5.9    -0.3    25    58.1739   3990440     68595
36          Oregon   6.8     6.0    -0.8    10    44.6873   4289440     95988
37    Pennsylvania   7.4     6.6    -0.8    10   286.1699  12804100     44743
38    Rhode Island   7.1     7.3     0.2    42  1026.6054   1061510      1034
39  South Carolina   4.2     4.4     0.2    42   175.5707   5277830     30061
40    South Dakota   3.7     3.5    -0.2    27    11.8265    896581     75811
41       Tennessee   7.3     5.3    -2.0     2   168.4069   6944260     41235
42           Texas   6.9     8.1     1.2    47   113.8080  29730300    261232
43            Utah   4.1     4.3     0.2    42    40.2917   3310770     82170
44         Vermont   3.2     3.1    -0.1    32    67.6197    623251      9217
45        Virginia   5.2     4.9    -0.3    25   217.8774   8603980     39490
46      Washington   6.0     6.0     0.0    36   117.3248   7796940     66456
47   West Virginia   6.4     6.2    -0.2    27    73.5444   1767860     24038
48       Wisconsin   6.0     5.0    -1.0     7   108.0633   5852490     54158
49         Wyoming   5.5     5.1    -0.4    21     5.9847    581075     97093

In [19]:
# clean the data into a dataset
main_data_df2 = Provisional_COVID_19_Death_Counts_by_Sex__Age__and_State.loc[:, ['State', 'COVID-19 Deaths']]

# Display the data table for preview
main_data_df2

              State COVID-19 Deaths
0     United States         347,131
1     United States              39
2     United States             165
3     United States              21
4     United States              58
...             ...             ...
2656    Puerto Rico               0
2657    Puerto Rico               0
2658    Puerto Rico               0
2659    Puerto Rico               0
2660    Puerto Rico               0

[2661 rows x 2 columns]

In [23]:
#count totals per state
state_count = main_data_df2['State'].count()

#setup dataframe
summary_state_df = pd.DataFrame({'Total Count': state_count})

#print dataframe results
summary_state_df

ValueError: If using all scalar values, you must pass an index