In [18]:
# Dependencies
import pandas as pd

In [21]:
#Open and Clean cases by state CSV
# open next CSV file for merge with cleaned file
cases_by_state_csv = 'Confirmed_Cases_By_State.csv'
# read csv
cases_by_state_df = pd.read_csv(cases_by_state_csv)
#convert doses to int for later
# remove commas
cases_by_state_df['Confirmed'] = cases_by_state_df['Confirmed'].str.replace(",", "")
cases_by_state_df['Deaths'] = cases_by_state_df['Deaths'].str.replace(",", "")
# replace nan with 0
cases_by_state_df['Confirmed'] = cases_by_state_df['Confirmed'].fillna(0)
cases_by_state_df['Deaths'] = cases_by_state_df['Deaths'].fillna(0)
# convert column to int
cases_by_state_df['Confirmed'] = cases_by_state_df['Confirmed'].astype(int)
cases_by_state_df['Deaths'] = cases_by_state_df['Deaths'].astype(int)



cases_by_state_df.head()

        State  Confirmed  Deaths
0     Alabama     449086    7172
1      Alaska      51603     250
2     Arizona     738561   12643
3    Arkansas     288964    4742
4  California    3169935   38224

In [22]:
cases_by_state_df.dtypes

State        object
Confirmed     int32
Deaths        int32
dtype: object