In [1]:
# dependencies
import pandas as pd


# file path
provisional_stats = 'Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv'

#read the data file
ps_df = pd.read_csv(provisional_stats)
# drop unneeded columns
ps_df = ps_df.drop(columns=['Data as of', 'Start Date', 'End Date', 'Footnote'])

#print df header
ps_df.head()

,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,United States,All Sexes,All Ages,"347,131","3,329,907","331,354","161,474","8,726","524,629"
1,United States,All Sexes,Under 1 year,39,"18,436",193,6,21,247
2,United States,All Sexes,0-17 years,165,"32,453",536,29,175,847
3,United States,All Sexes,1-4 years,21,"3,388",120,3,59,197
4,United States,All Sexes,5-14 years,58,"5,440",153,11,74,274

In [3]:
# group total stats based on state totals
# obtain state total rows
ps_df_filtered = ps_df[ps_df['Sex']=='All Sexes']
# drilling to state totals
ps_df_filtered = ps_df_filtered[ps_df_filtered['Age group'] == 'All Ages']
# dropping US Totals row
indexname= ps_df_filtered[ps_df_filtered['State']=='United States'].index
ps_df_filtered.drop(indexname, inplace =True)
# removing remaining unneeded columns
ps_df_filtered = ps_df_filtered.drop(columns=['Sex', 'Age group'])
#replace NaN with 0
ps_df_filtered = ps_df_filtered.fillna(0)
# reset index
ps_df_filtered = ps_df_filtered.reset_index(drop=True)
# view new head
ps_df_filtered.head()

,State,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,Alabama,"6,195","62,730","5,069","2,009",135,"9,381"
1,Alaska,193,"4,721",270,109,0,363
2,Arizona,"8,498","77,079","8,720","4,955",147,"12,409"
3,Arkansas,"3,728","37,869","3,769","1,662",101,"5,931"
4,California,"27,622","315,502","33,784","15,695",813,"46,518"

In [ ]:
#save cleaned csv for later merge
ps_df_filtered.to_csv("Cleaned_Provisional")