In [1]:
import pandas as pd

In [2]:
#Open All csv combined file to start manipulating for review
# open next CSV file for merge with cleaned file
cases_deaths_by_state = 'United_States_COVID-19_Cases_and_Deaths_by_State_over_Time (2).csv'
# read csv
cases_df = pd.read_csv(cases_deaths_by_state)
#view data
cases_df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,12/08/2020,NM,109947,NaN,NaN,0,0.0,1756,NaN,NaN,0,0.0,12/09/2020 02:45:40 PM,NaN,Not agree
1,01/01/2021,FL,1300528,NaN,NaN,0,6063.0,21673,NaN,NaN,0,7.0,01/02/2021 02:50:51 PM,Not agree,Not agree
2,04/30/2020,IA,7145,NaN,NaN,302,0.0,162,NaN,NaN,14,0.0,05/01/2020 09:00:19 PM,Not agree,Not agree
3,06/25/2020,NE,18346,NaN,NaN,125,0.0,260,NaN,NaN,3,0.0,06/26/2020 07:18:27 PM,Not agree,Not agree
4,02/24/2020,CA,10,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree

In [7]:
cases_df['state'] = cases_df['state'].astype('|S')

In [8]:
cases_df.dtypes

submission_date     object
state               object
tot_cases            int64
conf_cases         float64
prob_cases         float64
new_case             int64
pnew_case          float64
tot_death            int64
conf_death         float64
prob_death         float64
new_death            int64
pnew_death         float64
created_at          object
consent_cases       object
consent_deaths      object
dtype: object

In [10]:
#dict for converting state abb to full name
us_state_abbrev = {'AL'   :  'Alabama',
                     'AK'  : 'Alaska',
                     'AZ'  : 'Arizona',
                     'AR'  : 'Arkansas',
                     'CA'  : 'California',
                     'CO'  : 'Colorado',
                     'CT'  : 'Connecticut',
                     'DE'  : 'Delaware',
                     'FL'  : 'Florida',
                     'GA'  : 'Georgia',
                     'HI'  : 'Hawaii',
                     'ID'  : 'Idaho',
                     'IL'  : 'Illinois',
                     'IN'  : 'Indiana',
                     'IA'  : 'Iowa',
                     'KS'  : 'Kansas',
                     'KY'  : 'Kentucky',
                     'LA'  : 'Louisiana',
                     'ME'  : 'Maine',
                     'MD'  : 'Maryland',
                     'MA'  : 'Massachusetts',
                     'MI'  : 'Michigan',
                     'MN'  : 'Minnesota',
                     'MS'  : 'Mississippi',
                     'MO'  : 'Missouri',
                     'MT'  : 'Montana',
                     'NE'  : 'Nebraska',
                     'NV'  : 'Nevada',
                     'NH'  : 'New Hampshire',
                     'NJ'  :  'New Jersey',
                     'NM'  :  'New Mexico',
                     'NY'  :  'New York',
                     'NC'  :  'North Carolina',
                     'ND'  :  'North Dakota',
                     'OH'  :  'Ohio',
                     'OK'  :  'Oklahoma',
                     'OR'  :  'Oregon',
                     'PA'  :  'Pennsylvania',
                     'RI'  :  'Rhode Island',
                     'SC'  :  'South Carolina',
                     'SD'  :  'South Dakota',
                     'TN'  :  'Tennessee',
                     'TX'  :  'Texas',
                     'UT'  :  'Utah',
                     'VT'  :  'Vermont',
                     'VI'  :  'Virgin Islands',
                     'VA'  :  'Virginia',
                     'WA'  :  'Washington',
                     'WV'  :  'West Virginia',
                     'WI'  :  'Wisconsin',
                     'WY'  :  'Wyoming'}

In [11]:
cases_df = cases_df.replace({'state' : us_state_abbrev })